:root {
  --primary_color: #000;
  --secondary_color: #fff;
  --gray_color: #808080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/Poppins/Poppins-Regular.ttf);
}
.navbar {
  width: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: var(--secondary_color);
}
.navbar .nav-link {
  color: var(--gray_color);
  font-size: 1.06rem;
  font-weight: 600;
}
.navbar .nav-link.active {
  color: var(--primary_color);
}

/* Banner section */
.banner {
  width: 100%;
  height: 100vh;
  padding: 8% 0;
}
.banner .left {
  padding: 0% 0% 0% 6%;
  z-index: 5;
  display: flex;
  align-items: center;
}
.banner .left .content {
  height: 60%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--gray_color);
}
.banner .left .content h3 {
  font-size: 3rem;
  margin: 3% 0;
  font-weight: 900;
  color: var(--primary_color);
}
p {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--gray_color);
}
.banner .left .btn {
  margin: 3% 0;
  padding: 2% 8%;
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
  border-radius: 0;
  font-weight: 600;
}
.banner .right {
  padding: 2% 0;
}
.banner .right img {
  width: 100%;
  height: 100%;
}
.title {
  width: 100%;
  padding: 4% 0%;
}
.title h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--primary_color);
}
.viewpoint {
  width: 100%;
}
.viewpoint .row {
  padding: 0% 4% 0 4%;
  font-weight: 600;
  color: var(--gray_color);
  hyphens: auto;
}
.our-project {
  width: 100%;
  height: 100%;
}
.our-project .row {
  padding: 0% 4% 0% 4%;
  hyphens: auto;
}
.our-project .row .btn {
  margin: 10% 0;
  padding: 2% 9%;
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
  border-radius: 0;
  font-weight: 600;
}

/* slider */
.slider {
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.slider .item img {
  width: 100%;
  height: 100%;
  display: block;
  animation: Zoom 1s ease;
}
@keyframes Zoom {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.slider .item {
  display: none;
}
.slider .item.active {
  display: block;
}
#prev {
  position: absolute;
  bottom: -13%;
  right: 5rem;
  cursor: pointer;
  font-size: 2.5rem;
}
#next {
  position: absolute;
  bottom: -13%;
  right: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.how-work h3 {
  width: 40%;
}
.how-work-project {
  width: 100%;
  height: 100%;
}
.how-work-project .row {
  margin-top: 5%;
  margin-bottom: -5%;
  padding: 0% 5% 0% 5%;
}
.how-work-project .row .card {
  margin-bottom: 10%;
  border: none;
}
.how-work-project .row .card h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 8% 0;
  color: var(--primary_color);
}
.how-work-project .row .card p {
  color: var(--gray_color);
}
.blog {
  width: 100%;
}
.blog .row {
  padding: 0% 5% 0% 5%;
}
.blog .card {
  border: none;
  /* box-shadow: 0px 0px 20px #d0d0d0; */
}
.blog .card img {
  height: 20rem;
  object-fit: cover;
  border-radius: 0;
}
.blog .card .card-title {
  font-weight: 600;
  color: var(--primary_color);
  /* margin-top: 8%; */
}
.blog .card .card-body {
  padding: 7% 4%;
}
.blog .card .link {
  color: var(--primary_color);
  text-decoration: none;
  font-weight: 600;
}
.contact {
  width: 100%;
}
.contact .row {
  padding: 0% 5% 5% 5%;
}
.contact .row label {
  font-weight: 600;
  color: var(--primary_color);
}
.contact .row input {
  height: 1.4rem;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #000;
  border-radius: 0;
}
.contact .row .btn {
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
  font-weight: 600;
  padding: 4.5% 25%;
  border-radius: 0;
}
.footer {
  width: 100%;
}
.footer .left {
  padding: 4%;
}
.footer .left .icons {
  padding: 40% 0% 10% 0%;
}
.footer .left .icons i {
  margin-left: 10%;
  font-size: 1.1rem;
}
.footer .getintouch {
  padding: 4% 0% 4% 40%;
}
.footer .getintouch h6 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 2%;
}
.footer .header {
  margin: 13% 0 0 0;
}
.footer .header .navlink {
  color: var(--gray_color);
  font-weight: 600;
  text-decoration: none;
}
.footer .header .navlink.active {
  color: var(--primary_color);
}
